<div class="w-full my-4">
  <h3 class="text-lg font-semibold mb-2"><%= "#{q.text}" %></h3>
  <%= f.hidden_field :id %>
  <%= f.hidden_field :question_id %>

  <%# This matches the Question model input type to a partial in display_form %>
  <%= render "display_form/#{q.input_type}", q:, children:, f: %>
</div>
