<div class="flex gap-2 items-center">
  <% q.options.each do |option| %>
    <div class="mr-4 last:ml-0">
      <%= f.label :text, option %>
      <%= f.radio_button :text, option, required: q.required? %>
    </div>
  <% end %>
</div>
