<div data-controller="nested-form" data-nested-form-wrapper-selector-value=".nested-form-wrapper">
  <p class="text-lg font-semibold">Columns</p>
  <% q.columns&.each do |column| %>
    <%= form.text_field :columns, value: column, multiple: true, class: "mb-4" %>
  <% end %>
  <div data-nested-form-target="target"></div>

  <template data-nested-form-target="template">
    <%= form.text_field :columns, value: "", multiple: true, class: "mb-4" %>
  </template>

  <button type="button" class="border border-[#0003] rounded-lg px-4 py-2" data-action="nested-form#add">Add Column</button>
</div>
